<html lang="en">
  <head>
    <%- include('../partial/head.ejs') %>
  </head>
  <body>
    <%- include('../partial/nav.ejs') %>
    <div class="about">
      <h1 class="title">About</h1>
      <h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
        pariatur iste dolores eos deleniti aperiam exercitationem sapiente
        laboriosam blanditiis. Illum quo deleniti officia voluptatum quaerat
        inventore aut facilis aliquam esse.
      </h3>
    </div>

    <%- include('../partial/footer.ejs') %>
  </body>
</html>
