<html lang="en">
  <head>
    <%- include('../partial/head.ejs') %>
    <style>
      a {
        display: inline-block;
        margin-top: 5rem;
      }
    </style>
  </head>
  <body>
    <%- include('../partial/nav.ejs') %>
    <h1 class="title">Error</h1>
    <h2>Ooops!!! The blog you're looking does not exist</h2>
    <a href="/" class="btn">Go back to homepage</a>

    <%- include('../partial/footer.ejs') %>
  </body>
</html>
