<html lang="en">
  <head>
    <%- include('../partial/head.ejs') %>
  </head>
  <body>
    <%- include('../partial/nav.ejs') %>

    <div class="create">
      <h1 class="title">Create new blog</h1>
      <form method="post" action="/blogs/create">
        <div class="form-control">
          <h5>Title:</h5>
          <input type="text" name="title" required />
        </div>
        <div class="form-control">
          <h5>Snippet:</h5>
          <input type="text" name="snippet" required />
        </div>
        <div class="form-control">
          <h5>Body:</h5>
          <textarea cols="30" rows="7" name="body" required></textarea>
        </div>
        <input type="submit" value="create" class="btn" />
      </form>
    </div>

    <%- include('../partial/footer.ejs') %>
  </body>
</html>
