<html lang="en">
  <head>
    <%- include('../partial/head.ejs') %>
  </head>
  <body>
    <div class="body">
      <%- include('../partial/nav.ejs') %>

      <h1>This is the homepage</h1>
    </div>

    <%- include('../partial/footer.ejs') %>
  </body>
</html>
