<nav>
  <div class="title">
    <a href="/"><h1>CodeAfrica Blogs</h1></a>
  </div>
  <div class="links">
    <a href="/">homepage</a>
    <a href="/about">about</a>
    <!-- <a href="/blogs">Blogs</a> -->
    <a href="/blogs/create">create</a>
  </div>
</nav>
